[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyarango = "*"
requests-toolbelt = "*"
celery = {extras = ["auth", "msgpack", "brotli", "arangodb", "redis"], version = "*"}

[dev-packages]

[requires]
python_version = "3"
